*{
    margin: 0;
    box-sizing: border-box;
    opacity: 0.85;
}

body{
    height: 100vh;
}

section{
    padding: 20px;
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    justify-content: center;
}

#face{
    background-color: cyan;
}

#upper-body{
    background-color: blueviolet;
}

#lower-body{
    background-color: lightsalmon;
}

div,
p {
    border: solid 1px black;
    padding: 10px;
    margin: 0;
    border-radius: 30px;
}

#face {
    align-items: center;
}

#eyes {
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    width: 200px;
}

#torso {
    width: 200px;
    background-color: violet;
}

.eye{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

.arm{
    background-color: aquamarine;
}

.leg{
    background-color: dodgerblue;
}

.body-member{
    width: 50px;
    margin: 30px;
}

.eye-closed {
    height: 4px;
    padding: 0 5px;
    border-radius: 10px;
}